.dropdown-search-container {
  display: flex;
  flex-direction: column;
}
.dropdown-search-input {
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
