.schedule-view-container {
  overflow-x: auto;
}
.schedule-view-header {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  text-align: center;
  width: 100%;
}
.schedule-view-header-time {
  min-width: 3rem;
}
.schedule-view-header-day {
  min-width: 7rem;
}
.schedule-view-body-row {
  border: solid rgba(255, 255, 255, 0.4) 1px;
  display: grid;
  min-width: 3rem;
  grid-row: 1 / 90;
}
.schedule-view-body-schedule {
  border: solid rgba(255, 255, 255, 0.4) 1px;
  min-width: 7rem;
  grid-row: 1 / 90;
}
.schedule-view-body {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-size: 10px 72px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: repeat(90, minmax(0.75rem, auto));
  text-align: center;
  width: 100%;
  margin-bottom: 1.7rem;
}

.schedule-view-thead-row {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
