.manage-movies-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 100%;
  gap: 20px;
}
.btn-add-movie {
  background-color: #43346e;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease-out;
}
.go-to-manage {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  margin-right: 1rem;
  transition: opacity 0.3s ease-out;
}
.btn-add-movie:hover {
  background-color: #43346ecc;
}
.manage-movies-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.manage-movie-title {
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .manage-movies-header {
    gap: 10px;
  }
  .manage-movie-title {
    font-size: 1.5rem;
  }
  .btn-add-movie {
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
  }
  .go-to-manage {
    margin-right: 0.5rem;
  }
}
@media (min-width: 768px) {
  .go-to-manage:hover {
    opacity: 0.7;
  }
}
