.manage-movies-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  gap: 20px;
}
.btn-add-movie {
  background-color: #8b5cf6;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease-out;
}
.btn-add-movie:hover {
  background-color: #8a5cf5cc;
}
.manage-movies-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manage-movie-title {
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .manage-movies-header {
    gap: 10px;
  }
  .manage-movie-title {
    font-size: 1.5rem;
  }
  .btn-add-movie {
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
  }
}
