.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex: 0 0 15px;
}
button.seat:nth-child(8n + 2) {
  margin-right: 18px;
}
button.seat:nth-child(8n + 7) {
  margin-left: 18px;
}
.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}
.theater {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 250px;
  gap: 5px;
}
