.admin-page {
  background-color: #242333;
  min-height: 100svh;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  padding-top: 7rem;
}

@media (max-width: 768px) {
  .admin-page {
    padding: 0 1rem;
    padding-top: 5rem;
  }
}
