.data-table {
  width: 100%;
}
.data-t-head {
  background-color: #43346e;
}
.data-t-head-row {
  text-align: left;
}
.data-t-head-row th,
.data-t-body-row td {
  padding: 0.3rem;
  font-size: 1.1rem;
}

.data-table button {
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-out;
}
.data-edit-button {
  background-color: #2c642e;
}
.data-delete-button {
  background-color: #bf342a;
}
.data-actions {
  display: flex;
  width: 100%;
  gap: 1rem;
}
@media (max-width: 768px) {
  .data-t-head-row th,
  .data-t-body-row td {
    padding: 0.3rem;
    font-size: 12px;
  }
  .data-actions {
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .data-edit-button:hover {
    background-color: #295b2b;
  }
  .data-delete-button:hover {
    background-color: #a02c24;
  }
  .data-t-body-row:hover {
    background-color: #43346e;
  }
}
