.dropdown-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.dropdown-toggle-btn {
}
.dropdown-items {
  border: solid white 2px;
  background-color: #242333;
  border-radius: 4px;
  color: white;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  max-height: 0px;
  top: 24px;
  transition:
    opacity 0.2s ease-in-out,
    max-height 0.2s ease-in-out;
  max-width: 100%;
  width: 100%;
}
.dropdown-items::-webkit-scrollbar {
  display: none;
}
.dropdown-item {
  border-radius: 2px;
  width: 100%;
  transition: background-color 0.2s ease-out;
}
.dropdown-item:hover {
  background-color: #000000be;
}
.dropdown-selected-item {
  position: relative;
}
.dropdown-selected-item::after {
  position: absolute;
  content: "";
  border-radius: 1000px;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  background-color: rgb(0, 200, 0);
}
.dropdown-item-btn {
  width: 100%;
  text-align: start;
  padding: 0.25rem 0.5rem;
}
.dropdown-closed {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.dropdown-open {
  max-height: 200px;
  overflow: auto;
  opacity: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
